html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --sidebar-background-colour: rgb(58, 58, 233);
    --sidebar-text-colour: white;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
    min-height: inherit;
    display: grid;
    grid-template: minmax(150px, 15%) 1fr / minmax(250px, 15%) 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content"
    ;
    gap: 2px;
}

.header {
    grid-area: header;
    background-color: blueviolet;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 2px 2px 2px lightslategray;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 5px;
    padding: 5px;
    padding-right: 20px;
}

.search-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.header .search-container form {
    display: grid;
    grid-template: 1fr / 1fr 10fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.header .search-container button {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    justify-self: end;
    background-image: url("../img/magnify.svg");
}

.search-container form input {
    width: clamp(10ch, 40ch, 200ch);
    border: none;
    box-shadow: 2px 2px 2px lightslategray;
    height: 2rem;
    border-radius: 12px;
    color: white;
    background-color: black;
}

.welcome-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.welcome-container .user-image-main {
    border-radius: 50%;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    background-image: url("../img/pexels-rasmus-svinding-35435.png");
    background-position: center;
    background-size: cover;
    box-shadow: 1px 0px 2px black;
    justify-self: end;
}

.welcome-container .welcome-text-container {
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    justify-self: start;
}

.welcome-container .welcome-text-container p:nth-child(1) {
    font-size: 0.7rem;
    align-self: end;
    margin-bottom: 0px;
}

.welcome-container .welcome-text-container p + p {
    margin-top: 6px;
    font-size: 1rem;
    align-self: start;
    font-weight: bold;
}

.account-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 1fr / 1fr 1fr 3fr;
    gap: 10px;
}

.account-container img {
    width: 20px;
    height: 20px;
    justify-self: end;
    align-self: center;
}

.account-container .user-image-secondary {
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-image: url(../img/pexels-rasmus-svinding-35435.png);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 0px 2px black;
    justify-self: center;
    align-self: center;
}

.account-container .user-name {
    justify-self: start;
    align-self: center;
}

.manage-content-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.manage-content-container button {
    height: 2.5rem;
    max-width: 10rem;
    border-radius: 9px;
    font-weight: 700;
    background-color: var(--sidebar-background-colour, blue);
    color: var(--sidebar-text-colour, white);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-background-colour, blue);
    color: var(--sidebar-text-colour, white);   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    gap: 5rem;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 2px 2px lightslategray;
}

.sidebar .branding {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 95px 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
}

.sidebar .branding #logo {
    height: 85px;
    width: 85px;
}

.logo-text {
    justify-self: start;
}

.sidebar .sections {
    grid-row: 2 / 3;
}

.sidebar .technical {
    grid-row: 3 / 4;
}

.sidebar ul {
    padding-top: 20px;
    padding-left: 60px;
}

.sidebar ul > li {
    line-height: 2rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    align-items: center;
    gap: 0.5rem;
}

.sidebar ul > li > a{
    color: inherit;
    text-decoration: none;
}

.main-content {
    color: white;
    grid-area: main-content;
    background-color: black;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template: 1fr 40% / 4fr 1fr;
    grid-template-areas: 
        "projects-container announcements-container"
        "projects-container trending-container"
        ;

}

.main-content .projects-container {
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    grid-area: projects-container;
    display: grid;
    grid-template: 50px 1fr / 1fr;
}

.cards-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background-color: var(--sidebar-background-colour);
    border-radius: 5px;
    box-shadow: 2px 2px 2px orange;
    min-height: 200px;
    max-height: 300px;
    padding: 5px;
    display: grid;
    grid-template: 1.5rem 1fr 20px / 1fr;
}

.card .card-content {
    font-weight: 400;
    font-size: 0.8rem;
}

.card .card-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    
}

.card img {
    height: 20px;
    width: 20px;
}

.main-content .announcements-container {
    padding: 10px;
    font-weight: 700;
    grid-area: announcements-container;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightslategray;
    display: grid;
    gap: 5px;
    padding: 5px;
}

.announcement {
    padding: 5px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: var(--sidebar-background-colour, blue);
}

.announcements-title {
    font-weight: 500;
    font-size: 0.9rem;
}

.announcements-content {
    font-weight: 300;
    font-size: 0.6rem;
}

.main-content .trending-container {
    padding: 10px;
    font-weight: 700;
    grid-area: trending-container;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightslategray;
}

.trending-item {
    border-radius: 5px;
    background-color: var(--sidebar-background-colour, blue);
    box-shadow: 2px 2px 2px lightslategray;
    font-weight: 500;
    font-size: 0.8rem;
    padding-left: 5px;
}

.trending-item-content {
    font-size: 0.5rem;
    font-weight: 300;
}